## 돌발 문제
1부터 100까지 수 중에서 홀수만 더한 값을 출력

In [4]:
num = 1
total = 0

while num < 100:
    if num % 2 != 0:
        total += num
    num += 1
    
print(total)

2500

In [5]:
def total(n):
    num = 1
    total = 0
    while num < n:
        if num % 2 != 0:
            total += num
        num +=1
    print(total)
    
total(100)

2500

## 돌발 문제
어떤 수를 입력 받아서 입력 받은 수를 그 수만큼 출력하시오

In [7]:
a = int(input())
num = 0

while num < a:
    print(a)
    num += 1

 5

5
5
5
5
5

In [9]:
my_list = [23, 45, 12, 10, 25]
i = 0
total = 0

while i < len(my_list):
    total += my_list[i]
    i += 1
    
print(total)

115

## 돌발 문제
단어의 길이가 5인 것만 출력하라

In [11]:
a = ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']

for i in range(len(a)):
    if len(a[i]) == 5:
        print(a[i])

alpha
bravo
delta
hotel
india

In [15]:
a = ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']
b = list()

for i in range(len(a)):
    if len(a[i]) == 5:
        b.append(a[i])

print(b)

['alpha', 'bravo', 'delta', 'hotel', 'india']

In [20]:
thisdict = {"name":"John","age":36,"country":"Norway"}

items = thisdict.items();
print(items)

n_items = list(items) # list로 타입 캐스팅해야 함 (dict_items 객체이므로)

print(n_items[0])

dict_items([('name', 'John'), ('age', 36), ('country', 'Norway')])
('name', 'John')

## 돌발 문제

- 학생들의 수학 점수의 평균을 구해보시오
scores = {"철수":90, "민수":85, "영희":80}

In [24]:
def score_avg(n):
    total = 0
    for k in n.keys():
        total += n[k]
    size = len(n)
    print(total / size)
    
scores = {"철수":90, "민수":85, "영희":80}

score_avg(scores)

85.0